.info {
  background-color: #d1ecf1;
  font-style: italic !important;
  font-size: 0.8em !important;
  color: #757272;
}

.info:before {
  font-family: FontAwesome;
  content: "\f05a";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-style: normal !important;
  color: rgb(23, 162, 184);
}

.warning {
  background-color: #fff3cd;
  font-style: italic !important;
  font-size: 0.8em !important;
  color: #757272;
}

.warning:before {
  font-family: FontAwesome;
  content: "\f071";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-style: normal !important;
  color: #fd7e14;
}

.fa.fa-angle-double-down {
  color: #1b91ff;
  position: relative;
  display: block;
  animation:movedown 3s ease-out forwards;
  animation-iteration-count:3;

  /* Safari and Chrome */
  -webkit-animation:movedown 3s;
  -webkit-animation-iteration-count:3;
}

@keyframes movedown
{
  from {top:0px; opacity: 0;}
  to {top:200px; opacity: 1}
}

@-webkit-keyframes movedown /* Safari and Chrome */
{
  from {top:0px; opacity: 0;}
  to {top:200px; opacity: 1;}
}
